<nav>
    <ul>
        <li><a href="{{ path("home") }}">Home</a></li>
        <li><a href="{{ path("about") }}">About</a></li>
        <li><a href="{{ path("ovning") }}">Övningar</a></li>
        <li><a href="{{ path("uppgift") }}">Uppgifter</a></li>
        <li><a href="{{ path("project") }}">Project</a></li>
        <li><a href="{{ path("report") }}">Report</a></li>
    </ul>
</nav>
