{% extends 'base.html.twig' %}

{% block title %}Card{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

{{ include('./card/navbar.html.twig') }}


<div class="card-container">

{% if deck is defined %}
        {% for cards in deck %}
            <div class="cards">
                <div class="{{ cards }} left-card">
                    {{ cards }}
                </div>
                <div class="{{ cards }} right-card">
                    {{ cards }}
                </div>
            </div>
        {% endfor %}
{% endif %}

</div>

<form method="post">
    <fieldset>
    <legend>Dra flera kort</legend>

    <p>
        <input type="number" name="number" value="1">
        <a href="{{ link_to_draw }}">
            <input type="submit" name="draw" value="Dra flera kort" min="1">
        </a>
    </p>

    </fieldset>
</form>

<div>

{{ include('block/flash-message.html.twig') }}

Det finns {{ qty }} kort kvar i kortleken!

</div>

{% endblock %}