{% extends 'base.html.twig' %}

{% block title %}Black Jack{% endblock %}

{% block body %}

<h1>Black Jack</h1>

{{ include('./game/navbar.html.twig') }}

<div class="card-container-play">

    <div class="card-container">
        <h2>Dealers hand</h2>
    </div>
    <div class="card-container">
        <h4>{{ dealerScore }}</h4>
    </div>
    <div class="card-container">
        {% if dealerHand is defined %}
            {% for cards in dealerHand %}
                <div class="cards">
                    <div class="{{ cards }} left-card">
                        {{ cards }}
                    </div>
                    <div class="{{ cards }} right-card">
                        {{ cards }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="card-container">
        <h2>Players hand</h2>
    </div>
    <div class="card-container">
        <h4>{{ playerScore }}</h4>
    </div>
    <div class="card-container">
        {% if playerHand is defined %}
            {% for cards in playerHand %}
                <div class="cards">
                    <div class="{{ cards }} left-card">
                        {{ cards }}
                    </div>
                    <div class="{{ cards }} right-card">
                        {{ cards }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

<div class="card-container button-play">
    <a href="{{ path("game-playing") }}">Reset</a>
    <a href="{{ path("game-playing") }}">Hit</a>
    <a href="{{ path("game-playing") }}">Stand</a>
</div>

</div>

{% endblock %}