{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}

<h1>{{ title }}</h1>

{{ include('./book/navbar.html.twig') }}


    <div class="book-container">
        {% if books is defined %}
        {% set picture = "img/nopicture.jpg" %}
            {% for book in books %}
            <a href="{{ path("book_by_id", {'idNum': book.idNum} ) }}">
                <div class="books">
                    <div class="booktitle">
                        {{ book.idNum }}:
                        {{ book.title }}
                    </div>

                    <img src="{{ asset(book.picture) }}"
                    onerror="this.onerror=null;this.src='{{ asset(picture) }}';"
                         alt="Bokbild">
                </div>
            </a>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}