{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}

<h1>Books show</h1>

{{ include('./book/navbar.html.twig') }}


    <div class="book-container">
        {% if books is defined %}
        {% set picture = "img/nopicture.jpg" %}
            {% for book in books %}
            <a href="{{ path("book_show_all", {'id': book.id}) }}">
                <div class="books">
                    <div class="booktitle">
                        {{ book.id }}:
                        {{ book.title }}
                    </div>
                    
                    <div>ISBN: {{ book.isbn }}</div>
                    <div>Author: {{ book.author }}</div>
                    <img src="{{ asset(book.picture) }}"
                    onerror="this.onerror=null;this.src='{{ asset(picture) }}';"
                         alt="Bokbild">
                </div>
            </a>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}