{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}

    <h1>Books</h1>

{{ include('./book/navbar.html.twig') }}
<p>
    Välkommen till detta bibliotek. De tre senast inlagda böckerna är:
</p>

<div class="card-container">
    {% if books is defined %}
        {% for book in books|slice(-3) %}
            <div class="cards">
                {{ book.id }}
                {{ book.title }}
                {{ book.isbn }}
                {{ book.author }}
                {{ book.picture }}
            </div>
        {% endfor %}
    {% endif %}
</div>





{% endblock %}