{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}

    <h1>Books</h1>

{{ include('./book/navbar.html.twig') }}
<p class="center">
    Välkommen till detta bibliotek. De tre senast inlagda böckerna är:
</p>

<div class="book-container">
    {% if books is defined %}
    {% set picture = "img/nopicture.jpg" %}
        {% for book in books|slice(-3) %}
        <a href="{{ path("book_by_id", {'id': book.id} ) }}">
            <div class="books">
                <div class="booktitle">
                    {{ book.id }}:
                    {{ book.title }}
                </div>

                <img src="{{ asset(book.picture) }}"
                onerror="this.onerror=null;this.src='{{ asset(picture) }}';"
                     alt="Bokbild">
            </div>
        </a>
        {% endfor %}
    {% endif %}
</div>





{% endblock %}