<nav class="navbar">
    <ul>
        <li><a href="{{ path("product") }}">Home</a></li> | 
        <li><a href="{{ path("create_product") }}">Create</a></li> | 
        {# <li><a href="{{ path("product_update") }}">Update/id/value</a></li> |
        <li><a href="{{ path("product_delete_by_id") }}">Delete/id</a></li> |
        <li><a href="{{ path("product_by_id") }}">Show/id</a></li> | #}
        <li><a href="{{ path("product_show_all") }}">Show</a></li>
    </ul>
</nav>